@import url('https://fonts.googleapis.com/css2?family=Poller+One&display=swap');

html{
    scroll-behavior: smoot;
}

:root{
    --margin-content: 120px;
    --h1-title: 2.5rem;
    --p-text: 1.0rem
}

.dark-section {
    margin: 0px 10%;
    width: auto;
}
.card-1 {
    margin-top:var(--margin-content);
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.card {
    padding: 20px 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    border-radius: 20px;
    transition: all 0.25s ease-in-out;
}
.card:hover{
    background-color: #42474e;
    transition: all 0.25s ease-in-out;
    transform: scale(1.2);
    outline: 5px #7b3ff320;
}
.card-group{
    display: flex;
    align-items: flex-start;
    flex-direction: row;
}
.card svg {
    margin-bottom: 25px;
}

.card h1 {
    font-size: 1.5rem;
    margin-bottom: 25px;
    color: white;
}

.card p {
    font-size: 1rem;
    color: rgba(255, 255, 255, 0.7);
}

.card-2 {
    display: flex;
    flex-direction: row;
    width: 100%;
    align-items: center;
    justify-content: center;
    margin-top: var(--margin-content);;
}

.card-2-content {
    min-width: 200px;
    color: white;
    margin-right: 30px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.card-2-content svg {
    margin-right: 15px;
}

.card-2-content h1 {
    font-size:  var(--h1-title);
}

.card-2-content P {
    font-size: var(--p-text);
    margin: 60px 0;
    color: rgba(255, 255, 255, 0.7);
}

.card-2-items {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
}

.card-2-items .item {
    margin-right: 30px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.card-2-img {
    min-width: 530px;
    height: 800px;
    border-radius: 20px;
    background-size: cover;
    background-position: center;
    background-image: url(./assets/1.jpg);
}

.what-they-say{
    margin-top: var(--margin-content);
    display: flex;
    justify-content: center;
    color: white;
}
.report-group{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.title{
    font-size:  var(--h1-title);
    color: white;
    margin-bottom: 60px;
}
.title font{
    color: #7A3FF3;
}
.person-1{
    margin-right: 30px;
}
.person-2{
    margin-left: 30px;
}
.person-1-photo, .person-2-photo{
    width: auto;
    height: 550px;
    display: flex;
    align-items: flex-end;
    justify-content: end;
    background-position: center;
    background-size: cover;
    border-radius: 20px;
}
.person-1-photo{
    background-image: url(./assets/1.jpg);  
}
.person-2-photo{
    background-image: url(./assets/1.jpg);
}
.dec{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 120px;
    height: 120px;
    background-color: #7A3FF3;
    border-radius: 10px;
    position: relative;
    bottom: -30px;
    right: 60px;
}
.dec h1{
    font-family: 'Poller One';
    text-align: center;
    font-size: 4rem;
    color: white;
}
.person-name{
    margin-top: 60px;
    font-size:var(--h1-title);
}
.person-words{
    margin-top: 60px;
    color: rgba(255, 255, 255, 0.7);
    font-size: var(--p-text);
}
footer{
    margin-top: var(--margin-content);
    padding: 120px var(--padd-lf-rg);
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #1C1F22;
    color: white;
}
footer h1 font{
    color: #7A3FF3;
}
