::-webkit-scrollbar {
    width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
    background: rgba(0, 0, 0, 0.1);
}

/* Handle */
::-webkit-scrollbar-thumb {
    margin: 2px;
    background: #7A3FF3;
    border-radius: 5px;
    width: 3px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #552baa;
    border-radius: 5px;

}
:root{
    --padd-content2: 5%;
}
html {
    background-color: #393E45;
    scroll-behavior: smooth;
}

section {
    box-sizing: border-box;
}

#home {
    scroll-margin-block-start: 110px;
    /*Adds margin to the top of the viewport*/

    scroll-margin-block-end: 110pxx;
    /*Adds margin to the bottom of the viewport*/
}

#about {
    scroll-margin-block-start: 110px;
    /*Adds margin to the top of the viewport*/

    scroll-margin-block-end: 110pxx;
    /*Adds margin to the bottom of the viewport*/
}

#report {
    scroll-margin-block-start: 110px;
    /*Adds margin to the top of the viewport*/

    scroll-margin-block-end: 110pxx;
    /*Adds margin to the bottom of the viewport*/
}

#do {
    scroll-margin-block-start: 110px;
    /*Adds margin to the top of the viewport*/

    scroll-margin-block-end: 110pxx;
    /*Adds margin to the bottom of the viewport*/
}

.sec-home {
    margin:var(--padd-content2) 150px  var(--padd-content) 150px ;
}

.sec-home-text {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
}

.sec-home-text h1 {
    font-size: 3.25rem;
    font-weight: bold;
    width: 45%;
}

.sec-home-text h1 font {
    color: #7A3FF3;
}

.sec-home-text p {
    font-size: 1.25rem;
    font-weight: normal;
    line-height: 3.125rem;
    width: 45%;
}

.sec-home-card {
    width: 100%;
}

.sec-home-big-card {
    margin: 0px 150px;
    height: 800px;
    background-image: url(./assets/1.jpg);
    border-radius: 1.25rem;
    background-position: center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.sec-home-info-card {
    padding: 0px 50px;
    margin-right: 80px;
    width: 650px;
    height: 180px;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
    transform: translate(0, -50%);
    background-color: #7A3FF3;
    border-radius: 1.25rem;
    color: white;
    outline: #7b3ff33a 0px solid;
    transition: all 0.25s ease-in-out;
}

.sec-home-info-card:hover {
    outline: #7b3ff33a 8px solid;
    transition: all 0.25s ease-in-out;

}

.sec-home-info-card h1 {
    font-size: 3rem;
    font-weight: bold;
    display: flex;
    align-items: center;
}

.sec-home-info-card h1 p {
    font-weight: normal;
    margin-left: 10px;
    font-size: 1.25rem;
}

.light-section {
    height: 850px;
    width: 100%;
    background-color: #F4F4F4;
    position: absolute;
    z-index: -1;
    top: 0;
}