body {
    overflow-x: hidden;
}

.carousel {
    width: 1100px;
    height: 80vh;
    display: flex;
    align-items: center;
    flex-direction: row;
}

.carousel img {
    width: 1000px;
    object-fit: cover;
    height: 80vh;
    border-radius: 20px;
}

.position0 {
    transform: translate(0, 0);
    transition: all 0.5s;
}

.position1 {
    transition: all 0.5s;
}

.position2 {
    transition: all 0.5s;
}

.position3 {
    transition: all 0.5s;
}

.position4 {
    transition: all 0.5s;
}

.carousel-button {
    margin: 30px 0;
    width: 100%;
    display: flex;
    justify-content: end;
}