@import url('https://fonts.googleapis.com/css2?family=Pathway+Gothic+One&family=Poppins:wght@400;600&display=swap');
*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  background-color: #F4F4F4;
  margin: 0;
  font-family: 'Poppins';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #393E45;
}

code {
  font-family: 'Poppins';
}

